html {
    height: 100%;
    font-size: 17px;
    font-family: "Helvetica Neue";
}



body>*,
main>* {
    padding: 0 10%;
}

@media screen and (max-width: 62.5rem) {

    body>*,
    main>* {
        padding: 0 1rem;
    }
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    background-color: #BBBBBB;
}

header nav {
    margin-bottom: 1rem;
}

header nav a {
    display: block;
    padding: 1rem;
    transition: 300ms;
}

header nav a:hover {
    background-color: rgb(255, 238, 0);
}

header nav a.active {
    font-weight: bold;
}
p{
    font-size: 22px;

}



#brand {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

#brand img {
    height: 6rem;
    margin: 20px;
}


#brand h1 small {
    display: block;
    font-weight: normal;
    font-size: 1.3rem;

}


main {
    flex-grow: 1;
    padding: 0;
}



footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: #DDD;
    font-size: 0.9rem;
}

footer nav a {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid #AAA;
}

footer nav li:first-child a {
    margin: 0;
    padding: 0;
    border: none;
}


.highlight {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}

.highlight h2 {
    margin-top: 0;
}

.highlight.left-to-right img {
    margin-left: 2rem;
    float: right;
    margin-right: 2rem;
}

.highlight img {
    opacity: 1;
    height: 30rem;

}




@media screen and (max-width: 50rem) {
    #spotlight div {
        max-width: 100%;
    }
}


a {
    text-decoration: none;
    color: #000;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
h1 small{
    padding-top: 0.5rem;

}

div{
    float: bottom;
    margin-left: 0px;

div.carousel:-moz-full-screen{
    
}




audio{
    width: 100%;

}










